In [2]:
#Tushar Mehra

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [4]:
gravity = pd.read_excel('https://www.dropbox.com/s/2uha8rwc8bngcsz/servicesdataset%202.xlsx?dl=1')

In [5]:
gravity.head()

,exp,imp,year,trade,sector,contig,comlang_off,comlang_ethno,colony,comcol,...,distw,distwces,gdp_exp,gdp_imp,etcr_exp,etcr_imp,ent_cost_imp,ent_cost_exp,lat_exp,lat_imp
0,HUN,ABW,2005,0.00000,SER,0.0,0.0,0.0,0.0,0.0,...,8940.499,8939.646,5.900000e+10,NaN,2.751628,NaN,NaN,0.224284,47.50000,12.55
1,GBR,ABW,2005,0.00000,SER,0.0,0.0,1.0,0.0,0.0,...,7480.796,7479.964,1.700000e+12,NaN,0.940455,NaN,NaN,0.007273,51.50000,12.55
2,IRL,ABW,2005,0.00000,SER,0.0,0.0,1.0,0.0,0.0,...,7123.465,7122.625,1.300000e+11,NaN,3.073227,NaN,NaN,0.052800,53.33333,12.55
3,ITA,ABW,2005,4.97438,SER,0.0,0.0,0.0,0.0,0.0,...,8427.789,8422.343,1.100000e+12,NaN,2.036142,NaN,NaN,0.157049,41.88334,12.55
4,BEL,ABW,2005,2.48719,SER,0.0,1.0,1.0,0.0,0.0,...,7843.255,7843.006,2.500000e+11,NaN,2.007156,NaN,NaN,0.110991,50.83333,12.55

In [6]:
gravity.shape

(31092, 25)

In [7]:
gravity.describe()

,year,trade,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,...,distw,distwces,gdp_exp,gdp_imp,etcr_exp,etcr_imp,ent_cost_imp,ent_cost_exp,lat_exp,lat_imp
count,31092.0,31092.000000,30486.000000,30486.000000,30486.000000,30486.000000,30486.000000,30486.000000,30486.000000,30486.000000,...,30390.000000,30390.000000,3.010100e+04,3.010000e+04,16844.000000,16781.000000,27988.000000,27989.000000,30800.000000,30800.000000
mean,2005.0,62.680622,0.036377,0.072886,0.077445,0.037394,0.019386,0.002165,0.018238,0.012957,...,6043.967924,6008.824055,5.537156e+11,5.535339e+11,2.194315,2.187819,0.184016,0.183782,35.623987,35.575167
std,0.0,534.976404,0.187230,0.259953,0.267301,0.189729,0.137879,0.046479,0.133813,0.113090,...,4539.006830,4549.519086,1.513057e+12,1.514375e+12,0.644012,0.636429,0.594416,0.594039,25.198081,25.235256
min,2005.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,20.251910,12.154980,7.700000e+07,7.700000e+07,0.940455,0.940455,0.000000,0.000000,-66.666660,-66.666660
25%,2005.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1758.840000,1733.363000,3.600000e+10,2.900000e+10,1.838850,1.838850,0.033883,0.033883,32.083330,32.083330
50%,2005.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,5721.762000,5691.349000,1.400000e+11,1.400000e+11,2.130362,2.130362,0.094765,0.094765,44.416670,44.416670
75%,2005.0,3.730790,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9356.068000,9330.456500,3.500000e+11,3.500000e+11,2.513034,2.513034,0.157049,0.157049,51.500000,51.500000
max,2005.0,28830.908200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,19539.480000,19537.120000,1.100000e+13,1.100000e+13,3.952876,3.952876,20.514648,20.514648,64.183330,64.183330

In [8]:
gravity['trade_restrictiveness'] = gravity['ent_cost_imp'] + gravity['ent_cost_exp']
#Adding cost oftrade to importer and cost of trade to exporter together to measure trade restrictiveness (0 means none, more than 2 means virtually impossible to trade)

In [9]:
gravity = gravity.drop(['contig','comlang_off','comlang_ethno','colony','distcap','etcr_exp','etcr_imp','lat_exp','lat_imp'], axis=1)

In [10]:
colony= pd.read_excel('https://www.dropbox.com/s/216s24p3f8aj8ni/Copy%20of%20Colonial_transformation_data%20%281%29.xls?dl=1')

In [11]:
colony.head()

,Country Code World Bank,Country Name,"Main colonial ""motherland"", source: Ziltener/KÅ¸nzler","onset of colonialism, source: Ziltener/KÅ¸nzler 2008","end of colonialism, source: Ziltener/KÅ¸nzler 2008",COLYEARS,"Violent Colonization, Wars of Defence etc; Source: own coding; cf. COW Dataset (","Violent Resistence, Revolts etc.; Source: own coding; cf. COW Dataset (0=non-V;",Violent Independence; Source: own coding; cf. COW Dataset (0=non-V; 1=violence;,colonial violence total; Source: own coding;,...,"gold/silver mining during colonial period: 0=no, 1=little, 2=extensive","mining during colonial period: 0=no, 1=little, 2=extensive","foreign presence (colonial countries) during colonial period; 0=<1%, 1=1-2%, 2=2","immigration of foreign workers during colonial period: 0=no, 1=little, 2=extensi","missionary activities during colonial period: 0=no/not appl., 1=, 2=, 3=, 4=)","colonial borders split ethnic groups, cut traditional space of close interaction",level of political transformation (0-100),level of economic transformation (0-100),level of social transformation (0-100),level of colonial transformation (0-100)
0,AFG,Afghanistan,x,1880.0,1919.0,39,2.0,0.0,2.0,4.0,...,0.0,0.0,0.0,0.0,0.0,2.0,53.0,0.0,25.0,28.0
1,AGO,Angola,P,1506.0,1975.0,469,2.0,2.0,2.0,6.0,...,2.0,2.0,3.0,1.0,3.0,1.0,100.0,79.0,63.0,88.0
2,ARE,Unit. Arab. Emir,UK,1850.0,1971.0,121,2.0,0.0,0.0,2.0,...,0.0,1.0,0.0,1.0,0.0,0.0,33.0,14.0,13.0,22.0
3,BDI,Burundi,B,1897.0,1962.0,65,2.0,1.0,1.0,4.0,...,1.0,0.0,0.0,0.0,3.0,2.0,80.0,54.0,44.0,65.0
4,BEN,Benin,F,1878.0,1960.0,82,1.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,3.0,2.0,52.0,57.0,44.0,56.0

In [12]:
colony.describe()

,"onset of colonialism, source: Ziltener/KÅ¸nzler 2008","end of colonialism, source: Ziltener/KÅ¸nzler 2008",COLYEARS,"Violent Colonization, Wars of Defence etc; Source: own coding; cf. COW Dataset (","Violent Resistence, Revolts etc.; Source: own coding; cf. COW Dataset (0=non-V;",Violent Independence; Source: own coding; cf. COW Dataset (0=non-V; 1=violence;,colonial violence total; Source: own coding;,"Form of Colonial Domination (0, 1, 2, 3, 4,)",Colonial administration historically first central adminstration (0=no; 1=yes),"ethnic function groups used by colonial power (0=no, 1=little, 2=extensive)",...,"gold/silver mining during colonial period: 0=no, 1=little, 2=extensive","mining during colonial period: 0=no, 1=little, 2=extensive","foreign presence (colonial countries) during colonial period; 0=<1%, 1=1-2%, 2=2","immigration of foreign workers during colonial period: 0=no, 1=little, 2=extensi","missionary activities during colonial period: 0=no/not appl., 1=, 2=, 3=, 4=)","colonial borders split ethnic groups, cut traditional space of close interaction",level of political transformation (0-100),level of economic transformation (0-100),level of social transformation (0-100),level of colonial transformation (0-100)
count,85.000000,85.000000,86.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,...,83.000000,83.000000,83.000000,83.000000,82.000000,83.000000,83.000000,83.000000,83.000000,83.000000
mean,1836.352941,1958.105882,120.337209,1.301205,0.843373,0.566265,2.710843,2.975904,0.518072,0.939759,...,0.662651,0.963855,0.650602,0.759036,1.878049,1.325301,55.012048,49.807229,42.168675,53.975904
std,93.567356,15.644125,96.165374,0.744655,0.756789,0.783874,1.573640,0.999706,0.502711,0.888262,...,0.815656,0.889584,1.120036,0.849539,1.289944,0.827992,24.992923,25.688309,21.424752,21.202264
min,1506.000000,1906.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1838.000000,1950.000000,70.500000,1.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,37.000000,30.500000,25.000000,44.000000
50%,1863.000000,1960.000000,92.000000,1.000000,1.000000,0.000000,3.000000,3.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,56.000000,54.000000,44.000000,57.000000
75%,1887.000000,1965.000000,121.000000,2.000000,1.000000,1.000000,4.000000,4.000000,1.000000,2.000000,...,1.000000,2.000000,1.000000,2.000000,3.000000,2.000000,72.000000,69.500000,56.000000,68.000000
max,1935.000000,1997.000000,469.000000,2.000000,2.000000,2.000000,6.000000,4.000000,1.000000,2.000000,...,2.000000,2.000000,4.000000,2.000000,4.000000,2.000000,100.000000,100.000000,100.000000,100.000000

In [13]:
colony.shape

(86, 29)

In [14]:
gravity.columns

Index(['exp', 'imp', 'year', 'trade', 'sector', 'comcol', 'curcol', 'col45',
       'smctry', 'dist', 'distw', 'distwces', 'gdp_exp', 'gdp_imp',
       'ent_cost_imp', 'ent_cost_exp', 'trade_restrictiveness'],
      dtype='object')

In [15]:
colony.columns

Index(['Country Code World Bank', 'Country Name',
       'Main colonial "motherland", source: Ziltener/KÅ¸nzler',
       'onset of colonialism, source: Ziltener/KÅ¸nzler 2008',
       'end of colonialism, source: Ziltener/KÅ¸nzler 2008', 'COLYEARS',
       'Violent Colonization, Wars of Defence etc; Source: own coding; cf. COW Dataset (',
       'Violent Resistence, Revolts etc.; Source: own coding; cf. COW Dataset (0=non-V;',
       'Violent Independence; Source: own coding; cf. COW Dataset (0=non-V; 1=violence;',
       'colonial violence total; Source: own coding;',
       'Form of Colonial Domination (0, 1, 2, 3, 4,)',
       'Colonial administration historically first central adminstration  (0=no; 1=yes)',
       'ethnic function groups used by colonial power (0=no, 1=little, 2=extensive)',
       'power transfer during decolonization (0=long-term, planned, coordinated; 1=short',
       'colonial foreign trade policy: 0=not appl., 1=open door, 2=preferential tariffs,',
       'colonial trade concentration (source: Mitchell 2007; completed)',
       'colonial investment concentration (source: Kentor/Boswell 2003, completed)',
       'colonial investment in infrastructure (railways, roads, bridges, ports, irrigati',
       'plantations during colonial period: 0=no, 1=little, 2=extensive',
       'gold/silver mining during colonial period: 0=no, 1=little, 2=extensive',
       'mining during colonial period: 0=no, 1=little, 2=extensive',
       'foreign presence (colonial countries) during colonial period; 0=<1%, 1=1-2%, 2=2',
       'immigration of foreign workers during colonial period: 0=no, 1=little, 2=extensi',
       'missionary activities during colonial period: 0=no/not appl., 1=, 2=, 3=, 4=)',
       'colonial borders split ethnic groups, cut traditional space of close interaction',
       'level of political transformation (0-100)',
       'level of economic transformation (0-100)',
       'level of social transformation (0-100)',
       'level of colonial transformation (0-100)'],
      dtype='object')

In [16]:
def clean_col(col):
  col = col.strip()
  col = col.replace('Country Name', 'Country Name - Importer')
  col = col.replace('Main colonial "motherland", source: Ziltener/KÅ¸nzler', 'Colonial Motherland - Importer')
  col = col.replace('onset of colonialism, source: Ziltener/KÅ¸nzler 2008', 'Year of Colonisation - Importer')
  col = col.replace('end of colonialism, source: Ziltener/KÅ¸nzler 2008', 'Year of Independence - Importer')
  col = col.replace('COLYEARS', 'Years under Colonisation - Importer')
  return col

new_columns = []
for c in colony.columns:
    clean_c = clean_col(c)
    new_columns.append(clean_c)

colony.columns = new_columns

In [17]:
colony_series_dropper = colony.columns.to_series()['Violent Colonization, Wars of Defence etc; Source: own coding; cf. COW Dataset (':'colonial borders split ethnic groups, cut traditional space of close interaction']
colony = colony.drop(colony_series_dropper, axis=1)
#Dropping extra data points that are not going to be needed for our regression; had to convert columns to a series to be able to drop a range of columns

In [18]:
combined_imp = gravity.merge(colony, left_on = 'imp', right_on = 'Country Code World Bank', how = 'left')
combined_imp.tail()

,exp,imp,year,trade,sector,comcol,curcol,col45,smctry,dist,...,Country Code World Bank,Country Name - Importer,Colonial Motherland - Importer,Year of Colonisation - Importer,Year of Independence - Importer,Years under Colonisation - Importer,level of political transformation (0-100),level of economic transformation (0-100),level of social transformation (0-100),level of colonial transformation (0-100)
31087,ITA,ZWE,2005,9.948760,SER,0.0,0.0,0.0,0.0,6915.104,...,ZWE,Zimbabwe,UK,1888.0,1980.0,92.0,79.0,86.0,81.0,91.0
31088,LUX,ZWE,2005,0.000000,SER,0.0,0.0,0.0,0.0,7896.588,...,ZWE,Zimbabwe,UK,1888.0,1980.0,92.0,79.0,86.0,81.0,91.0
31089,DNK,ZWE,2005,4.970430,SER,0.0,0.0,0.0,0.0,8363.609,...,ZWE,Zimbabwe,UK,1888.0,1980.0,92.0,79.0,86.0,81.0,91.0
31090,GBR,ZWE,2005,160.382187,SER,0.0,0.0,1.0,0.0,8292.509,...,ZWE,Zimbabwe,UK,1888.0,1980.0,92.0,79.0,86.0,81.0,91.0
31091,FIN,ZWE,2005,0.000000,SER,0.0,0.0,0.0,0.0,8694.838,...,ZWE,Zimbabwe,UK,1888.0,1980.0,92.0,79.0,86.0,81.0,91.0

In [19]:
def clean_col_2(col):
  col = col.strip()
  col = col.replace('Country Name - Importer', 'Country Name - Exporter')
  col = col.replace('Colonial Motherland - Importer', 'Colonial Motherland - Exporter')
  col = col.replace('Year of Colonisation - Importer', 'Year of Colonisation - Exporter' )
  col = col.replace('Year of Independence - Importer', 'Year of Independence - Exporter')
  col = col.replace('Years under Colonisation - Importer', 'Years under Colonisation - Exporter')
  return col

new_columns = []
for c in colony.columns:
    clean_c = clean_col_2(c)
    new_columns.append(clean_c)

colony.columns = new_columns

In [20]:
# note here that to merge two things, you need to provide a reference column so the computer knows what you're merging based on, i.e. to associate A in dataframe 1 with A in dataframe 2.
# hence ask yourself if you're merging based on exp or imp in the gravity dataframe, and which associatetd column in the colonisation dataframe.

# after that, read the .merge reference here https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.merge.html or I can provide more hints, if you would like.

In [21]:
combined = combined_imp.merge(colony, left_on = 'exp', right_on = 'Country Code World Bank', how = 'left')
combined.tail()

,exp,imp,year,trade,sector,comcol,curcol,col45,smctry,dist,...,Country Code World Bank_y,Country Name - Exporter,Colonial Motherland - Exporter,Year of Colonisation - Exporter,Year of Independence - Exporter,Years under Colonisation - Exporter,level of political transformation (0-100)_y,level of economic transformation (0-100)_y,level of social transformation (0-100)_y,level of colonial transformation (0-100)_y
31087,ITA,ZWE,2005,9.948760,SER,0.0,0.0,0.0,0.0,6915.104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31088,LUX,ZWE,2005,0.000000,SER,0.0,0.0,0.0,0.0,7896.588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31089,DNK,ZWE,2005,4.970430,SER,0.0,0.0,0.0,0.0,8363.609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31090,GBR,ZWE,2005,160.382187,SER,0.0,0.0,1.0,0.0,8292.509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31091,FIN,ZWE,2005,0.000000,SER,0.0,0.0,0.0,0.0,8694.838,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
combined.head()

,exp,imp,year,trade,sector,comcol,curcol,col45,smctry,dist,...,Country Code World Bank_y,Country Name - Exporter,Colonial Motherland - Exporter,Year of Colonisation - Exporter,Year of Independence - Exporter,Years under Colonisation - Exporter,level of political transformation (0-100)_y,level of economic transformation (0-100)_y,level of social transformation (0-100)_y,level of colonial transformation (0-100)_y
0,HUN,ABW,2005,0.00000,SER,0.0,0.0,0.0,0.0,8927.636,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GBR,ABW,2005,0.00000,SER,0.0,0.0,0.0,0.0,7541.243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IRL,ABW,2005,0.00000,SER,0.0,0.0,0.0,0.0,7174.017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ITA,ABW,2005,4.97438,SER,0.0,0.0,0.0,0.0,8480.133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BEL,ABW,2005,2.48719,SER,0.0,0.0,0.0,0.0,7847.070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
imp_short_term_colony_bool = combined.loc[:, 'Years under Colonisation - Importer'] <= 100
imp_long_term_colony_bool = combined['Years under Colonisation - Importer'] > 100
exp_short_term_colony_bool = combined['Years under Colonisation - Exporter'] <= 100
exp_long_term_colony_bool = combined['Years under Colonisation - Exporter'] > 100
#Time period of 100 years determined by seeing the mean and median of the data from colony.describe() above

In [24]:
combined.loc[imp_short_term_colony_bool,:]

,exp,imp,year,trade,sector,comcol,curcol,col45,smctry,dist,...,Country Code World Bank_y,Country Name - Exporter,Colonial Motherland - Exporter,Year of Colonisation - Exporter,Year of Independence - Exporter,Years under Colonisation - Exporter,level of political transformation (0-100)_y,level of economic transformation (0-100)_y,level of social transformation (0-100)_y,level of colonial transformation (0-100)_y
14,FIN,AFG,2005,0.000000,SER,0.0,0.0,0.0,0.0,4254.794,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,HKG,AFG,2005,0.000000,TSP,0.0,0.0,0.0,0.0,4566.617,...,HKG,Hongkong,UK,1842.0,1997.0,155.0,NaN,NaN,NaN,NaN
16,AUT,AFG,2005,0.000000,SER,0.0,0.0,0.0,0.0,4568.098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ITA,AFG,2005,14.923150,SER,0.0,0.0,0.0,0.0,4935.994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,GBR,AFG,2005,11.189450,SER,0.0,0.0,0.0,0.0,5718.078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31087,ITA,ZWE,2005,9.948760,SER,0.0,0.0,0.0,0.0,6915.104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31088,LUX,ZWE,2005,0.000000,SER,0.0,0.0,0.0,0.0,7896.588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31089,DNK,ZWE,2005,4.970430,SER,0.0,0.0,0.0,0.0,8363.609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31090,GBR,ZWE,2005,160.382187,SER,0.0,0.0,1.0,0.0,8292.509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31091,FIN,ZWE,2005,0.000000,SER,0.0,0.0,0.0,0.0,8694.838,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
combined.loc[imp_long_term_colony_bool, :]

,exp,imp,year,trade,sector,comcol,curcol,col45,smctry,dist,...,Country Code World Bank_y,Country Name - Exporter,Colonial Motherland - Exporter,Year of Colonisation - Exporter,Year of Independence - Exporter,Years under Colonisation - Exporter,level of political transformation (0-100)_y,level of economic transformation (0-100)_y,level of social transformation (0-100)_y,level of colonial transformation (0-100)_y
28,GBR,AGO,2005,172.814911,SER,0.0,0.0,0.0,0.0,6837.594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,FIN,AGO,2005,0.000000,SER,0.0,0.0,0.0,0.0,7746.235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,ITA,AGO,2005,12.435950,SER,0.0,0.0,0.0,0.0,5645.243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,CZE,AGO,2005,0.000000,SER,0.0,0.0,0.0,0.0,6560.238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,DNK,AGO,2005,24.852131,SER,0.0,0.0,0.0,0.0,7179.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31059,PRT,ZAF,2005,0.000000,TSP,0.0,0.0,0.0,0.0,8574.430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31060,ITA,ZAF,2005,0.000000,COM,0.0,0.0,0.0,0.0,8460.335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31061,USA,ZAF,2005,0.000000,PUB,0.0,0.0,0.0,0.0,12581.720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31062,FRA,ZAF,2005,1.000000,COM,0.0,0.0,0.0,0.0,9353.552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31063,LTU,ZAF,2005,0.000000,PUB,0.0,0.0,0.0,0.0,9884.803,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
combined.shape

(31092, 37)

In [27]:
GBR_test_bool = (combined['imp'] == 'GBR')
#Have this boolean for testing purposes to see what happens to non-colonised countries in our data set

In [28]:
combined.loc[GBR_test_bool, :]
#This is the test to see what happens when you examine the importing data for GBR, a country that was never colonised

,exp,imp,year,trade,sector,comcol,curcol,col45,smctry,dist,...,Country Code World Bank_y,Country Name - Exporter,Colonial Motherland - Exporter,Year of Colonisation - Exporter,Year of Independence - Exporter,Years under Colonisation - Exporter,level of political transformation (0-100)_y,level of economic transformation (0-100)_y,level of social transformation (0-100)_y,level of colonial transformation (0-100)_y
10737,USA,GBR,2005,781.818359,PUB,0.0,0.0,0.0,0.0,5570.161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10738,IRN,GBR,2005,0.000000,FIN,0.0,0.0,0.0,0.0,4408.013,...,IRN,"Iran, Islamic R",x,1828.0,1921.0,93.0,17.0,21.0,19.0,21.0
10739,ESP,GBR,2005,3231.000000,SER,0.0,0.0,0.0,0.0,1263.379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10740,SWE,GBR,2005,218.181930,TSP,0.0,0.0,0.0,0.0,1437.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10741,AUS,GBR,2005,1616.363892,TSP,0.0,0.0,0.0,0.0,17011.270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11463,SVK,GBR,2005,5.454240,TSP,0.0,0.0,0.0,0.0,1294.938,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11464,BLR,GBR,2005,0.000000,CNS,0.0,0.0,0.0,0.0,1873.072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11465,UKR,GBR,2005,0.000000,COM,0.0,0.0,0.0,0.0,2137.511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11466,BRA,GBR,2005,0.000000,COM,0.0,0.0,0.0,0.0,9501.710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11467,EGY,GBR,2005,21.818190,PUB,0.0,0.0,0.0,0.0,3516.866,...,EGY,"Egypt, Arab Rep",UK,1876.0,1956.0,80.0,83.0,50.0,25.0,57.0

In [29]:
combined['imp_short_term_colony'] = 0
combined['imp_long_term_colony'] = 0
combined['exp_short_term_colony'] = 0
combined['exp_long_term_colony'] = 0
#Do all the coding for short-term and long-term colonies in the same cells so that they are easier to keep track of

In [30]:
combined.loc[imp_short_term_colony_bool,'imp_short_term_colony'] = 1
combined.loc[imp_long_term_colony_bool,'imp_long_term_colony'] = 1
combined.loc[exp_short_term_colony_bool,'exp_short_term_colony'] = 1
combined.loc[exp_long_term_colony_bool,'exp_long_term_colony'] = 1

In [31]:
colony_duration_test_bool = (combined['imp'] == 'IND')
combined.loc[colony_duration_test_bool, :]
#This boolean is to test whether the dummy of short-term and long-term colony has worked or not; can change the three-letter imp code and see the short-term colony column

,exp,imp,year,trade,sector,comcol,curcol,col45,smctry,dist,...,Year of Independence - Exporter,Years under Colonisation - Exporter,level of political transformation (0-100)_y,level of economic transformation (0-100)_y,level of social transformation (0-100)_y,level of colonial transformation (0-100)_y,imp_short_term_colony,imp_long_term_colony,exp_short_term_colony,exp_long_term_colony
14486,CYP,IND,2005,0.0,CNS,1.0,0.0,0.0,0.0,4175.156,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
14487,NLD,IND,2005,300.0,SER,0.0,0.0,0.0,0.0,6363.421,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
14488,FRA,IND,2005,60.0,BUS,0.0,0.0,0.0,0.0,6594.230,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
14489,USA,IND,2005,0.0,PUB,0.0,0.0,0.0,0.0,11761.810,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
14490,HRV,IND,2005,0.0,FIN,0.0,0.0,0.0,0.0,5606.959,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14777,POL,IND,2005,0.0,ROS,0.0,0.0,0.0,0.0,5269.833,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
14778,MLT,IND,2005,0.0,ROS,1.0,0.0,0.0,0.0,5856.019,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
14779,IRL,IND,2005,0.0,FIN,0.0,0.0,0.0,0.0,7084.429,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
14780,TUR,IND,2005,0.0,SER,0.0,0.0,0.0,0.0,4558.313,...,1923.0,85.0,5.0,7.0,19.0,11.0,0,1,1,0
14781,FRA,IND,2005,9.0,PUB,0.0,0.0,0.0,0.0,6594.230,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0

In [32]:
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'P','Colonial Motherland - Importer'] = 'PRT'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'P','Colonial Motherland - Exporter'] = 'PRT'
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'UK', 'Colonial Motherland - Importer'] = 'GBR'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'UK', 'Colonial Motherland - Exporter'] = 'GBR'
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'B', 'Colonial Motherland -Importer'] = 'BEL'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'B', 'Colonial Motherland -Exporter'] = 'BEL'  
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'F', 'Colonial Motherland - Importer'] = 'FRA'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'F', 'Colonial Motherland - Exporter'] = 'FRA'
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'I', 'Colonial Motherland - Importer'] = 'ITA'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'I', 'Colonial Motherland - Exporter'] = 'ITA'
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'SP', 'Colonial Motherland - Importer'] = 'ESP'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'SP', 'Colonial Motherland -Exporter'] = 'ESP'
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'NL', 'Colonial Motherland - Importer'] = 'NLD'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'NL', 'Colonial Motherland - Exporter'] = 'NLD' 
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'JP', 'Colonial Motherland - Importer'] = 'JPN'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'JP', 'Colonial Motherland - Exporter'] = 'JPN'
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'US', 'Colonial Motherland - Importer'] = 'USA'    
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'US', 'Colonial Motherland - Exporter'] = 'USA'
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'AU', 'Colonial Motherland - Importer'] = 'AUS'
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'AU', 'Colonial Motherland - Exporter'] = 'AUS'
combined.loc[combined.loc[:,'Colonial Motherland - Importer'] == 'UK/F','Colonial Motherland - Importer'] = 'GBR/FRA' 
combined.loc[combined.loc[:,'Colonial Motherland - Exporter'] == 'UK/F','Colonial Motherland - Exporter'] = 'GBR/FRA' 
combined.loc[combined.loc[:,'Colonial Motherland -Importer'] == 'x','Colonial Motherland - Importer'] = 'INDIRECT'
combined.loc[combined.loc[:,'Colonial Motherland -Exporter'] == 'x','Colonial Motherland - Exporter'] = 'INDIRECT'

In [33]:
combined['Colonial Motherland - Importer'].unique()

array([nan, 'x', 'PRT', 'GBR', 'B', 'FRA', 'ITA', 'ESP', 'NLD', 'JPN',
       'USA', 'AUS', 'GBR/FRA'], dtype=object)

In [34]:
combined['Colonial Motherland - Exporter'].unique()

array([nan, 'GBR', 'x', 'USA', 'JPN', 'AUS', 'NLD', 'FRA', 'ITA', 'B',
       'GBR/FRA', 'PRT', 'SP'], dtype=object)

In [35]:
combined.shape

(31092, 43)

In [36]:
def combine_partner_name(x):
  partner_1 = x['imp']
  partner_2 = x['exp']

  partner_list = [partner_1, partner_2]
  partner_list.sort()

  x['partner-list'] = partner_list[0] + "-" + partner_list[1]
  return x

In [37]:
combined = combined.apply(combine_partner_name, axis = 1)

In [38]:
combined.tail()

,exp,imp,year,trade,sector,comcol,curcol,col45,smctry,dist,...,level of economic transformation (0-100)_y,level of social transformation (0-100)_y,level of colonial transformation (0-100)_y,imp_short_term_colony,imp_long_term_colony,exp_short_term_colony,exp_long_term_colony,Colonial Motherland -Importer,Colonial Motherland -Exporter,partner-list
31087,ITA,ZWE,2005,9.948760,SER,0.0,0.0,0.0,0.0,6915.104,...,NaN,NaN,NaN,1,0,0,0,NaN,NaN,ITA-ZWE
31088,LUX,ZWE,2005,0.000000,SER,0.0,0.0,0.0,0.0,7896.588,...,NaN,NaN,NaN,1,0,0,0,NaN,NaN,LUX-ZWE
31089,DNK,ZWE,2005,4.970430,SER,0.0,0.0,0.0,0.0,8363.609,...,NaN,NaN,NaN,1,0,0,0,NaN,NaN,DNK-ZWE
31090,GBR,ZWE,2005,160.382187,SER,0.0,0.0,1.0,0.0,8292.509,...,NaN,NaN,NaN,1,0,0,0,NaN,NaN,GBR-ZWE
31091,FIN,ZWE,2005,0.000000,SER,0.0,0.0,0.0,0.0,8694.838,...,NaN,NaN,NaN,1,0,0,0,NaN,NaN,FIN-ZWE

In [39]:
combined.shape

(31092, 44)

In [40]:
trade_data = combined.groupby(['partner-list'])['trade'].sum().reset_index()
trade_data.head()
#If you don't use the reset index method, then you would just have a series where the partner-list is the index. The reset index takes the partner list out and makes it a separate column

  partner-list    trade
0      ABW-AUT  3.73079
1      ABW-BEL  2.48719
2      ABW-CZE  0.00000
3      ABW-DNK  1.24261
4      ABW-FIN  0.00000

In [41]:
combined_specific = combined[['partner-list', 'comcol', 'curcol', 'col45', 'dist','distw', 'distwces', 'gdp_exp', 'gdp_imp', 'ent_cost_imp', 'ent_cost_exp','trade_restrictiveness', 'imp_short_term_colony',	'imp_long_term_colony','exp_short_term_colony','exp_long_term_colony']].drop_duplicates(subset = ['partner-list'])
combined_specific.rename(columns={'gdp_exp': 'gdp_1', 'gdp_imp':'gdp_2','imp_short_term_colony':'short_term_colony_1', 'exp_short_term_colony': 'short_term_colony_2', 'imp_long_term_colony':'long_term_colony_1', 'exp_long_term_colony': 'long_term_colony_2' })
#Dropping duplicates for colony data in the subset of partner list doesn't matter since the only case where there would be a duplicate to be dropped is if neither are colonies, both are short-term or both are long-term

,partner-list,comcol,curcol,col45,dist,distw,distwces,gdp_1,gdp_2,ent_cost_imp,ent_cost_exp,trade_restrictiveness,short_term_colony_1,long_term_colony_1,short_term_colony_2,long_term_colony_2
0,ABW-HUN,0.0,0.0,0.0,8927.636,8940.499,8939.646,5.900000e+10,NaN,NaN,0.224284,NaN,0,0,0,0
1,ABW-GBR,0.0,0.0,0.0,7541.243,7480.796,7479.964,1.700000e+12,NaN,NaN,0.007273,NaN,0,0,0,0
2,ABW-IRL,0.0,0.0,0.0,7174.017,7123.465,7122.625,1.300000e+11,NaN,NaN,0.052800,NaN,0,0,0,0
3,ABW-ITA,0.0,0.0,0.0,8480.133,8427.789,8422.343,1.100000e+12,NaN,NaN,0.157049,NaN,0,0,0,0
4,ABW-BEL,0.0,0.0,0.0,7847.070,7843.255,7843.006,2.500000e+11,NaN,NaN,0.110991,NaN,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29869,TUR-USA,0.0,0.0,0.0,8070.750,9705.772,9558.768,3.300000e+11,1.100000e+13,0.006901,0.277436,0.284337,0,0,1,0
30224,TUR-UZB,0.0,0.0,0.0,3343.881,3085.887,3021.260,3.300000e+11,1.800000e+10,0.140657,0.277436,0.418093,0,0,1,0
30466,TUR-VEN,0.0,0.0,0.0,9732.609,10121.220,10104.370,3.300000e+11,1.300000e+11,0.278352,0.277436,0.555788,0,0,1,0
30598,TUR-YEM,0.0,0.0,0.0,3211.306,3060.573,3033.482,3.300000e+11,1.200000e+10,2.401772,0.277436,2.679209,0,0,1,0
31052,TUR-ZAF,0.0,0.0,0.0,8412.611,7669.512,7647.063,3.300000e+11,1.600000e+11,0.086192,0.277436,0.363628,0,1,1,0

In [42]:
combined_trade_data = pd.merge(trade_data, combined_specific, on ='partner-list', how = 'inner')
combined_trade_data[combined_trade_data['partner-list'] == 'GBR-IND']

,partner-list,trade,comcol,curcol,col45,dist,distw,distwces,gdp_exp,gdp_imp,ent_cost_imp,ent_cost_exp,trade_restrictiveness,imp_short_term_colony,imp_long_term_colony,exp_short_term_colony,exp_long_term_colony
2131,GBR-IND,2575.364159,0.0,0.0,1.0,6720.636,7324.15,7292.99,6.400000e+11,1.700000e+12,0.007273,0.620242,0.627515,0,0,0,1

In [43]:
combined_trade_data = combined_trade_data.rename(columns={'gdp_exp': 'gdp_1', 'gdp_imp':'gdp_2','imp_short_term_colony':'short_term_colony_1', 'exp_short_term_colony': 'short_term_colony_2', 'imp_long_term_colony':'long_term_colony_1', 'exp_long_term_colony': 'long_term_colony_2', 'ent_cost_imp':'ent_cost_1','ent_cost_exp':'ent_cost_2' })
combined_trade_data.head()

,partner-list,trade,comcol,curcol,col45,dist,distw,distwces,gdp_1,gdp_2,ent_cost_1,ent_cost_2,trade_restrictiveness,short_term_colony_1,long_term_colony_1,short_term_colony_2,long_term_colony_2
0,ABW-AUT,3.73079,0.0,0.0,0.0,8719.130,8632.971,8631.022,2.100000e+11,NaN,NaN,0.057300,NaN,0,0,0,0
1,ABW-BEL,2.48719,0.0,0.0,0.0,7847.070,7843.255,7843.006,2.500000e+11,NaN,NaN,0.110991,NaN,0,0,0,0
2,ABW-CZE,0.00000,0.0,0.0,0.0,8560.899,8638.355,8636.670,6.800000e+10,NaN,NaN,0.094765,NaN,0,0,0,0
3,ABW-DNK,1.24261,0.0,0.0,0.0,8408.590,8331.918,8331.029,1.700000e+11,NaN,NaN,0.000000,NaN,0,0,0,0
4,ABW-FIN,0.00000,0.0,0.0,0.0,9087.563,9056.373,9055.602,1.400000e+11,NaN,NaN,0.011551,NaN,0,0,0,0

In [44]:
combined_trade_data.shape

(3541, 17)

In [45]:
combined_trade_data['either_short_term_colony'] = combined_trade_data['short_term_colony_1'] + combined_trade_data['short_term_colony_2']
combined_trade_data['either_long_term_colony'] = combined_trade_data['long_term_colony_1'] + combined_trade_data['long_term_colony_2']
combined_trade_data.value_counts('either_short_term_colony')

either_short_term_colony
0    2691
1     830
2      20
dtype: int64

In [46]:
combined_trade_data.value_counts('either_long_term_colony')

either_long_term_colony
0    2741
1     768
2      32
dtype: int64

In [47]:
combined_trade_data.loc[combined_trade_data['either_short_term_colony'] == 2, 'both_short_term_colony'] = 1
combined_trade_data.loc[combined_trade_data['either_short_term_colony'] == 2]

,partner-list,trade,comcol,curcol,col45,dist,distw,distwces,gdp_1,gdp_2,ent_cost_1,ent_cost_2,trade_restrictiveness,short_term_colony_1,long_term_colony_1,short_term_colony_2,long_term_colony_2,either_short_term_colony,either_long_term_colony,both_short_term_colony
25,AFG-TUR,0.000000,0.0,0.0,0.0,3581.6080,3249.2580,3197.6430,3.300000e+11,NaN,0.752110,0.277436,1.029546,1,0,1,0,2,0,1.0
1669,EGY-TUR,0.000000,0.0,0.0,0.0,1239.9190,1120.4610,1084.3950,3.300000e+11,1.200000e+11,1.049353,0.277436,1.326789,1,0,1,0,2,0,1.0
2822,IRN-JPN,2405.268173,0.0,0.0,0.0,7672.8810,7542.8740,7525.3890,5.000000e+12,1.300000e+11,0.062707,0.106711,0.169418,1,0,1,0,2,0,1.0
2833,IRN-TUR,0.000000,0.0,0.0,0.0,2044.6780,1847.3030,1676.4160,3.300000e+11,1.300000e+11,0.062707,0.277436,0.340144,1,0,1,0,2,0,1.0
2838,IRQ-TUR,0.000000,0.0,0.0,0.0,1614.7730,1353.1510,1191.0410,3.300000e+11,NaN,0.374029,0.277436,0.651466,1,0,1,0,2,0,1.0
2991,JOR-TUR,0.000000,0.0,0.0,0.0,1187.5040,976.7532,914.8253,3.300000e+11,1.200000e+10,0.854504,0.277436,1.131940,1,0,1,0,2,0,1.0
2992,JPN-KOR,11452.817891,0.0,0.0,1.0,1156.6700,951.7373,843.8443,6.600000e+11,5.000000e+12,0.106711,0.151853,0.258564,1,0,1,0,2,0,1.0
3007,JPN-SAU,1237.547398,0.0,0.0,0.0,8701.9220,8853.6340,8824.3380,2.300000e+11,5.000000e+12,0.106711,0.685245,0.791956,1,0,1,0,2,0,1.0
3012,JPN-THA,5311.863524,0.0,0.0,0.0,4612.9970,4417.5990,4386.3810,1.600000e+11,5.000000e+12,0.106711,0.061244,0.167955,1,0,1,0,2,0,1.0
3013,JPN-TUR,0.000000,0.0,0.0,0.0,8958.8440,8718.0320,8707.6080,3.300000e+11,5.000000e+12,0.106711,0.277436,0.384148,1,0,1,0,2,0,1.0
3047,KOR-TUR,0.000000,0.0,0.0,0.0,7967.7010,7937.7290,7927.2490,3.300000e+11,6.600000e+11,0.151853,0.277436,0.429289,1,0,1,0,2,0,1.0
3051,KWT-TUR,0.000000,0.0,0.0,0.0,2159.4830,1876.2370,1804.3290,3.300000e+11,5.600000e+10,0.021760,0.277436,0.299197,1,0,1,0,2,0,1.0
3056,LBN-TUR,0.000000,0.0,0.0,0.0,984.8074,782.3490,697.3502,3.300000e+11,2.100000e+10,1.228599,0.277436,1.506035,1,0,1,0,2,0,1.0
3233,MAR-TUR,0.000000,0.0,0.0,0.0,3230.0620,3499.8200,3457.3030,3.300000e+11,4.700000e+10,0.133761,0.277436,0.411197,1,0,1,0,2,0,1.0
3485,SAU-TUR,0.000000,0.0,0.0,0.0,2459.9330,2117.8580,2041.9710,3.300000e+11,2.300000e+11,0.685245,0.277436,0.962681,1,0,1,0,2,0,1.0
3489,SDN-TUR,0.000000,0.0,0.0,0.0,2857.2600,2798.2040,2765.6370,3.300000e+11,1.700000e+10,0.681049,0.277436,0.958485,1,0,1,0,2,0,1.0
3490,SEN-TUR,0.000000,0.0,0.0,0.0,5341.9570,5494.9330,5476.9370,3.300000e+11,5.900000e+09,1.087202,0.277436,1.364638,1,0,1,0,2,0,1.0
3525,SYR-TUR,0.000000,0.0,0.0,0.0,1061.5400,753.7882,574.0568,3.300000e+11,2.400000e+10,0.344663,0.277436,0.622100,1,0,1,0,2,0,1.0
3526,THA-TUR,0.000000,0.0,0.0,0.0,7477.6340,7232.0550,7212.0620,3.300000e+11,1.600000e+11,0.061244,0.277436,0.338681,1,0,1,0,2,0,1.0
3530,TUN-TUR,0.000000,0.0,0.0,0.0,1684.1080,1953.5420,1899.7970,3.300000e+11,2.400000e+10,0.099814,0.277436,0.377251,1,0,1,0,2,0,1.0

In [48]:
combined_trade_data.loc[combined_trade_data['either_long_term_colony'] == 2, 'both_long_term_colony'] = 1
combined_trade_data.loc[combined_trade_data['either_long_term_colony'] == 2]

,partner-list,trade,comcol,curcol,col45,dist,distw,distwces,gdp_1,gdp_2,...,ent_cost_2,trade_restrictiveness,short_term_colony_1,long_term_colony_1,short_term_colony_2,long_term_colony_2,either_short_term_colony,either_long_term_colony,both_short_term_colony,both_long_term_colony
33,AGO-HKG,0.0,0.0,0.0,0.0,11504.130,11483.770,11481.6300,2.100000e+11,1.500000e+10,...,0.033883,6.413494,0,1,0,1,0,2,NaN,1.0
106,ARE-HKG,601.0,1.0,0.0,0.0,6059.646,5961.188,5960.6710,2.100000e+11,9.800000e+10,...,0.033883,0.477339,0,1,0,1,0,2,NaN,1.0
654,BGD-HKG,119.0,1.0,0.0,0.0,2439.355,2432.340,2429.6060,2.100000e+11,6.100000e+10,...,0.033883,0.977780,0,1,0,1,0,2,NaN,1.0
695,BHR-HKG,66.0,1.0,0.0,0.0,6397.593,6398.487,6398.4760,2.100000e+11,1.100000e+10,...,0.033883,NaN,0,1,0,1,0,2,NaN,1.0
1014,CHN-HKG,15774.0,0.0,0.0,0.0,1976.249,1612.374,938.8218,2.100000e+11,1.900000e+12,...,0.033883,0.170011,0,1,0,1,0,2,NaN,1.0
1042,CMR-HKG,2.0,0.0,0.0,0.0,11148.410,11061.640,11053.6200,2.100000e+11,1.200000e+10,...,0.033883,1.761722,0,1,0,1,0,2,NaN,1.0
1440,DJI-HKG,0.0,0.0,0.0,0.0,7590.873,7592.814,7592.7750,2.100000e+11,6.400000e+08,...,0.033883,2.383049,0,1,0,1,0,2,NaN,1.0
1628,DZA-HKG,5.0,0.0,0.0,0.0,10272.680,10286.810,10281.1000,2.100000e+11,7.000000e+10,...,0.033883,0.286959,0,1,0,1,0,2,NaN,1.0
2106,GAB-HKG,0.0,0.0,0.0,0.0,11515.340,11472.300,11470.9200,2.100000e+11,5.500000e+09,...,0.033883,0.353925,0,1,0,1,0,2,NaN,1.0
2263,GHA-HKG,8.0,1.0,0.0,0.0,12255.400,12251.670,12251.0500,2.100000e+11,6.400000e+09,...,0.033883,0.619863,0,1,0,1,0,2,NaN,1.0
2281,GMB-HKG,1.0,1.0,0.0,0.0,13354.630,13325.330,13325.0200,2.100000e+11,5.200000e+08,...,0.033883,3.215051,0,1,0,1,0,2,NaN,1.0
2294,GNQ-HKG,0.0,0.0,0.0,0.0,11429.260,11409.040,11408.7000,2.100000e+11,4.200000e+09,...,0.033883,20.548531,0,1,0,1,0,2,NaN,1.0
2372,HKG-IDN,482.0,0.0,0.0,0.0,3262.165,3163.010,3142.4300,2.100000e+11,2.100000e+11,...,1.017327,1.051209,0,1,0,1,0,2,NaN,1.0
2373,HKG-IND,766.0,1.0,0.0,0.0,3763.475,3840.215,3778.7180,6.400000e+11,2.100000e+11,...,0.620242,0.654124,0,1,0,1,0,2,NaN,1.0
2385,HKG-KEN,36.0,1.0,0.0,0.0,8767.659,8744.399,8742.5650,1.500000e+10,2.100000e+11,...,0.481997,0.515879,0,1,0,1,0,2,NaN,1.0
2393,HKG-LBR,13.0,0.0,0.0,0.0,13243.580,13198.390,13197.8000,4.400000e+08,2.100000e+11,...,NaN,NaN,0,1,0,1,0,2,NaN,1.0
2396,HKG-LKA,86.0,1.0,0.0,0.0,4053.215,3996.462,3994.7420,2.000000e+10,2.100000e+11,...,0.104450,0.138332,0,1,0,1,0,2,NaN,1.0
2397,HKG-LSO,3.0,1.0,0.0,0.0,10903.720,10892.070,10891.9200,9.000000e+08,2.100000e+11,...,0.417349,0.451231,0,1,0,1,0,2,NaN,1.0
2411,HKG-MMR,4.0,1.0,0.0,0.0,1980.921,1946.757,1943.2870,NaN,2.100000e+11,...,NaN,NaN,0,1,0,1,0,2,NaN,1.0
2413,HKG-MOZ,0.0,0.0,0.0,0.0,10296.890,9835.392,9812.1760,6.400000e+09,2.100000e+11,...,0.950238,0.984121,0,1,0,1,0,2,NaN,1.0
2414,HKG-MRT,1.0,0.0,0.0,0.0,12983.430,12877.730,12874.8000,1.300000e+09,2.100000e+11,...,1.435981,1.469864,0,1,0,1,0,2,NaN,1.0
2418,HKG-MYS,889.0,1.0,0.0,0.0,2518.368,2408.006,2389.0980,1.200000e+11,2.100000e+11,...,0.209289,0.243172,0,1,0,1,0,2,NaN,1.0
2422,HKG-NGA,97.0,1.0,0.0,0.0,11841.490,11540.160,11530.9200,6.200000e+10,2.100000e+11,...,0.737804,0.771687,0,1,0,1,0,2,NaN,1.0
2427,HKG-NPL,13.0,0.0,0.0,0.0,2963.798,3010.719,2999.9400,6.500000e+09,2.100000e+11,...,0.698757,0.732639,0,1,0,1,0,2,NaN,1.0
2430,HKG-OMN,2.0,0.0,0.0,0.0,5655.347,5786.567,5781.8870,2.400000e+10,2.100000e+11,...,0.048020,0.081903,0,1,0,1,0,2,NaN,1.0
2431,HKG-PAK,93.0,1.0,0.0,0.0,4196.246,4412.789,4390.8470,9.400000e+10,2.100000e+11,...,0.239180,0.273063,0,1,0,1,0,2,NaN,1.0
2434,HKG-PHL,532.0,0.0,0.0,0.0,1114.391,1284.670,1227.3060,9.500000e+10,2.100000e+11,...,0.202674,0.236557,0,1,0,1,0,2,NaN,1.0
2449,HKG-SGP,2533.0,1.0,0.0,0.0,2587.967,2593.055,2593.0440,1.100000e+11,2.100000e+11,...,0.009112,0.042995,0,1,0,1,0,2,NaN,1.0
2451,HKG-SLE,0.0,1.0,0.0,0.0,13358.300,13292.990,13292.4700,1.200000e+09,2.100000e+11,...,8.354131,8.388014,0,1,0,1,0,2,NaN,1.0
2454,HKG-SOM,0.0,1.0,0.0,0.0,7751.050,7730.246,7723.4500,NaN,2.100000e+11,...,NaN,NaN,0,1,0,1,0,2,NaN,1.0
2475,HKG-TZA,5.0,1.0,0.0,0.0,8765.800,8976.857,8968.0980,1.300000e+10,2.100000e+11,...,1.613055,1.646937,0,1,0,1,0,2,NaN,1.0
2488,HKG-ZAF,441.0,0.0,0.0,0.0,11876.950,10968.430,10950.0000,1.600000e+11,2.100000e+11,...,0.086192,0.120074,0,1,0,1,0,2,NaN,1.0

In [49]:
combined_trade_data.shape

(3541, 21)

In [50]:
combined_trade_data['either_short_term_colony'] = combined_trade_data['either_short_term_colony'].replace(2,0)
combined_trade_data['either_long_term_colony'] = combined_trade_data['either_long_term_colony'].replace(2,0)

In [51]:
combined_trade_data.value_counts('either_short_term_colony')

either_short_term_colony
0    2711
1     830
dtype: int64

In [52]:
combined_trade_data.value_counts('either_long_term_colony')

either_long_term_colony
0    2773
1     768
dtype: int64

In [53]:
combined_trade_data['both_short_term_colony'] = combined_trade_data['both_short_term_colony'].replace(np.nan,0)
combined_trade_data['both_long_term_colony'] = combined_trade_data['both_long_term_colony'].replace(np.nan,0)

In [54]:
combined_trade_data.value_counts('both_long_term_colony')

both_long_term_colony
0.0    3509
1.0      32
dtype: int64

In [55]:
combined_trade_data.value_counts('both_short_term_colony')

both_short_term_colony
0.0    3521
1.0      20
dtype: int64

In [56]:
combined_trade_data.shape

(3541, 21)

In [57]:
combined_trade_data.tail()

,partner-list,trade,comcol,curcol,col45,dist,distw,distwces,gdp_1,gdp_2,...,ent_cost_2,trade_restrictiveness,short_term_colony_1,long_term_colony_1,short_term_colony_2,long_term_colony_2,either_short_term_colony,either_long_term_colony,both_short_term_colony,both_long_term_colony
3536,TUR-YEM,0.000000,0.0,0.0,0.0,3211.306,3060.573,3033.482,3.300000e+11,1.200000e+10,...,0.277436,2.679209,0,0,1,0,1,0,0.0,0.0
3537,TUR-ZAF,0.000000,0.0,0.0,0.0,8412.611,7669.512,7647.063,3.300000e+11,1.600000e+11,...,0.277436,0.363628,0,1,1,0,1,1,0.0,0.0
3538,TWN-USA,17857.000000,0.0,0.0,0.0,12532.540,12155.880,12099.730,1.100000e+13,NaN,...,0.006901,NaN,0,1,0,0,0,1,0.0,0.0
3539,USA-VEN,2200.578995,0.0,0.0,0.0,3428.630,4204.499,3996.405,1.300000e+11,1.100000e+13,...,0.278352,0.285252,0,0,0,0,0,0,0.0,0.0
3540,USA-ZAF,1387.888990,0.0,0.0,0.0,12581.720,14418.610,14275.120,1.600000e+11,1.100000e+13,...,0.086192,0.093093,0,0,0,1,0,1,0.0,0.0

In [58]:
combined_trade_data['ln_GDP_1'] = np.log(combined_trade_data['gdp_1'])
combined_trade_data['ln_GDP_2'] = np.log(combined_trade_data['gdp_2'])
combined_trade_data['ln_distance'] = np.log(combined_trade_data['dist'])
combined_trade_data = combined_trade_data[combined_trade_data['trade'] != 0]
combined_trade_data['ln_trade'] = np.log(combined_trade_data['trade'])
combined_trade_data['ln_trade_restrictiveness'] = np.log(combined_trade_data['trade_restrictiveness'])

In [59]:
combined_trade_data.to_csv('Clean_Data.csv', index = False)

In [60]:
X = combined_trade_data[['ln_GDP_1', 'ln_GDP_2', 'ln_distance', 'ln_trade_restrictiveness','comcol', 'either_short_term_colony', 'either_long_term_colony', 'both_short_term_colony','both_long_term_colony']]
Y = combined_trade_data['ln_trade']
X = sm.add_constant(X)

In [61]:
regression_1 = sm.OLS(endog=Y, exog=X, missing ='drop')
regression_1_results = regression_1.fit(cov_type = 'HC1')
regression_1_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               ln_trade   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     480.5
Date:                Sat, 27 Feb 2021   Prob (F-statistic):               0.00
Time:                        13:50:12   Log-Likelihood:                -3537.2
No. Observations:                1949   AIC:                             7094.
Df Residuals:                    1939   BIC:                             7150.
Df Model:                           9
Covariance Type:                  HC1
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                      -27.3346      0.775    -35.277      0.000     -28.853     -25.816
ln_GDP_1                     0.7440      0.017     43.710      0.000       0.711       0.777
ln_GDP_2                     0.7704      0.020     39.409      0.000       0.732       0.809
ln_distance                 -0.8759      0.036    -24.223      0.000      -0.947      -0.805
ln_trade_restrictiveness    -0.0883      0.035     -2.518      0.012      -0.157      -0.020
comcol                       0.6626      0.323      2.053      0.040       0.030       1.295
either_short_term_colony    -0.0645      0.086     -0.753      0.452      -0.233       0.104
either_long_term_colony      0.1044      0.098      1.063      0.288      -0.088       0.297
both_short_term_colony       0.7735      0.321      2.411      0.016       0.145       1.402
both_long_term_colony        0.3232      0.361      0.895      0.371      -0.385       1.031
==============================================================================
Omnibus:                       37.084   Durbin-Watson:                   1.585
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               44.959
Skew:                          -0.263   Prob(JB):                     1.73e-10
Kurtosis:                       3.526   Cond. No.                         911.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
"""